body{
  background: #f9f9f9;
}
.mdl-layout__container {

}
.talk-panel{

}
.talk-screen{
  background: #fff;
  height: 300px;
  overflow-y: scroll;
  border: solid 1px #ccc;
  width: 100%;
}

.large-talk{width: 100%;}
.progress-talk{
  margin: .5em;
}
.progress-talk span{
  color: tomato;
}
.progress-talk label{
  color: #333;
}
