
.mdl-layout__container {

}
.talk-panel{

}
.talk-screen{
  background: #fcf7d7;
  opacity: .8;
  height: 300px;
  overflow-y: auto;
  border: solid 1px #ccc;
  width: 100%;
}

.large-talk{width: 100%;}
.progress-talk{
  margin: .5em;
}
.progress-talk span{
  color: tomato;
  background-color: #FFF68E;
}
.progress-talk label{
  color: #333;
}
