<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/userController.js"></script>
    </head>
    <body ng-app="MocApp">
        <div ng-controller="UserController">
             <form ng-submit="authenticate()" >
                    <label>Your Login</label>
                    <input type="text" placeholder="type your login" required ng-model="user.login" />
                    <label>Your Password</label>
                    <input type="password"  required ng-model="user.password" />

                    

                    <input type="submit" value="Submit" class="btn-submit" />
                </form>
            
            
        </div>
    </body>
</html>
