
        <div class="container" ng-controller="UserController">
             <form ng-submit="authenticate()" >
                    <label>Your Login</label>
                    <input type="text" placeholder="type your login" required ng-model="user.login" />
                    <label>Your Password</label>
                    <input type="password"  required ng-model="user.password" />

                    

                    <input type="submit" value="Submit" class="btn-submit" />
                </form>
            
            {{voucher}}
            
            
        </div>